Repository python/peps, pull requests merged in 2023-08, with the labels that each got.

#3210 PEP 722: Dependency specification for single-file scripts
  .github/CODEOWNERS
  pep-0722.rst
Labels: new-pep

#3264 PEP 723: Embedding metadata in single-file scripts
  .github/CODEOWNERS
  pep-0723.rst
Labels: new-pep

#3291 Lint: Update outdated package dependencies & reformat files
  .pre-commit-config.yaml
  pep_sphinx_extensions/tests/pep_zero_generator/test_parser.py
  tox.ini
Labels: lint

#3296 Infra: Remove resolved warning filters
  pytest.ini
Labels: infra

#3310 PEP 727: Documentation Metadata in Typing
  .github/CODEOWNERS
  pep-0727.rst
Labels: new-pep
