Repository python/peps, pull requests merged in 2023-02, with the labels that each got.

#2956 Meta: Add templates/checklists for new, Accepted/Rejected & Final PEPs
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/accept-reject-pep.md
  .github/PULL_REQUEST_TEMPLATE/mark-pep-final.md
  .github/PULL_REQUEST_TEMPLATE/modify-pep.md
  .github/PULL_REQUEST_TEMPLATE/new-pep.md
  .github/PULL_REQUEST_TEMPLATE/other.md
Labels: meta

#2998 Meta: Rename PR templates to be more descriptive in the GitHub UI
  .github/PULL_REQUEST_TEMPLATE/Accept or Reject a PEP.md
  .github/PULL_REQUEST_TEMPLATE/Infra or meta change.md
  .github/PULL_REQUEST_TEMPLATE/Mark a PEP Final.md
  .github/PULL_REQUEST_TEMPLATE/Modify an existing PEP.md
  .github/PULL_REQUEST_TEMPLATE/Propose a new PEP.md
Labels: meta

#3000 Meta: Fix name of Other template to include Other so it sorts properly
  .github/PULL_REQUEST_TEMPLATE/Other - infra or meta change.md
Labels: meta

#3005 Lint: Allow per-message Post-History links w/trailing slash
  .pre-commit-config.yaml
  pep-0684.rst
  pep_sphinx_extensions/pep_processor/transforms/pep_headers.py
Labels: lint

#3009 PEP 706: Filter for tarfile.extractall
  .github/CODEOWNERS
  conf.py
  pep-0706.rst
Labels: new-pep

#3019 PEP 708: Extending the Repository API to Mitigate Dependency Confusion Attacks
  .github/CODEOWNERS
  pep-0708.rst
Labels: new-pep

#3001 Meta: Further tweak PR template titles to get the right order
  .github/PULL_REQUEST_TEMPLATE/Add a new PEP.md
  .github/PULL_REQUEST_TEMPLATE/Change an existing PEP.md
  .github/PULL_REQUEST_TEMPLATE/Mark a PEP Accepted or Rejected.md
Labels: meta

#3029 PEP 709: Inlined comprehensions
  .github/CODEOWNERS
  pep-0709.rst
Labels: new-pep
